WCF/SourceCode/Exception/Client/Connected Services/CalculatorServices/calculator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Exception.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Exception.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MathError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MathError" nillable="true" type="tns:MathError" />
</xs:schema>