WCF/SourceCode/REST_Caching/Client/Connected Services/TimeServices/Time.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.digitcyber.com/" elementFormDefault="qualified" targetNamespace="http://www.digitcyber.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetCurrentTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>